@import 'tailwindcss';

.page {
  @apply max-w-6xl bg-white shadow-md rounded-md flex flex-col gap-8;
}

.layout {
  @apply flex justify-between gap-14 items-start;
}

.layout .left {
  @apply w-1/4 flex flex-col gap-6;
}

.layout .right {
  @apply w-3/4 flex flex-col gap-7;
}

.layout:nth-of-type(2) .right {
  @apply gap-10;
}

.title {
  @apply text-lg font-bold mb-1;
  color: var(--primary-color);
}

.experiences {
  @apply flex flex-col;
  margin-left: -18px;
}

/* General styles */
.page {
  @apply mb-10 p-8;
}

main[data-view='compact'] .experience:not(.frontend),
main[data-view='compact'] .experience-head:not(.frontend) {
  display: none;
}

main[data-view='compact'] .compact-only-message {
  @apply block;
}

.experience {
  @apply relative flex flex-col gap-4 pl-5 pb-5;
  border-left: 1px solid var(--color-gray-300);
}

.experience::before {
  content: '';
  @apply absolute top-0 left-0 w-[0.02mm] h-full;
  background-color: var(--color-gray-300);
}

.experience::after {
  content: '';
  top: 4px;
  left: -5px;
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--color-gray-300);
}

.experience-head {
  @apply grid grid-cols-4;
}

.experience-head .position,
.experience-head .company {
  @apply col-span-3;
}

.experience-head .position {
  @apply font-bold;
}

.experience-head .date,
.experience-head .location {
  @apply col-span-1 text-right;
}

.experience-head .location,
.experience-head .date {
  @apply text-sm;
}

.project-title {
  @apply font-semibold;
}

.project-stack {
  @apply italic mb-2;
  color: var(--primary-color);
}

.project-responsibilities {
  @apply list-disc list-outside pl-4;
}

@media print {
  body > * {
    visibility: hidden;
  }

  body main {
    visibility: visible;
    width: 20cm;
    @apply px-10;
  }

  html {
    font-family: 'Inter', sans-serif;
    font-size: 11.5px;
  }

  .page {
    box-shadow: none;
    max-width: 100%;
    @apply p-0 mb-10;
  }

  .page .experiences .experience {
    @apply gap-5;
  }

  div.page:nth-of-type(1) {
    @apply pt-8;
  }

  div.page:nth-of-type(2) {
    @apply pt-10 mb-0;
  }

  /* General English */
  html[lang='en'] .experience .application-connection-platform {
    @apply mt-40;
  }

  /* General German */
  html[lang='de'] .experience .plattform-zur-anwendungsanbindung {
    @apply mt-20;
  }

  /* General Compact */
  main[data-view='compact'] .layout:nth-of-type(2) .right {
    @apply gap-9;
  }

  /* General Original */
  main[data-view='original'] .layout:nth-of-type(2) .right {
    @apply gap-6;
  }

  main[data-view='original'] .right .experience-summary > div {
    @apply gap-4;
  }

  /* Original German */
  html[lang='de'] main[data-view='original'] .right .experience-summary > div {
    @apply gap-3;
  }
}
