---
import { t } from '../i18n';
import data from '../data.json';
const { greeting, intro } = Astro.props;
---

<section
  class="home-content flex flex-col md:flex-row-reverse justify-center items-center max-w-6xl p-8 sm:p-14 gap-8 sm:gap-14 xl:gap-26 transition-all duration-300"
>
  <img
    class="profile-pic w-60 sm:w-70 lg:w-96 xl:w-110 rounded-full transition-all duration-300 shadow-2xl border border-3 border-base-300/40"
    src="/images/profile-pic-md.avif"
    alt={t(data.profile.completeTitle)}
  />
  <div class="flex flex-col gap-6 sm:gap-8 items-center md:items-start">
    <h1
      class="text-5xl sm:text-6xl text-center md:text-left lg:text-7xl font-extrabold flex flex-col gap-3 transition-all duration-300 whitespace-nowrap animate-on-scroll"
    >
      <span
        class="text-4xl lg:text-5xl font-extralight block text-primary transition-all duration-300 animate-on-scroll"
        >{greeting}</span
      >
      {data.profile.name}
    </h1>
    <h2
      class="text-md sm:text-xl text-center font-light md:text-left max-w-110 transition-all duration-300 text-base-content/80"
    >
      {intro}
    </h2>
    <a class="btn btn-primary md:btn-lg" href="#resume">Resume</a>
  </div>
</section>

<style is:global>
  [data-theme='dark'] .page--home {
    background: -webkit-linear-gradient(
      to bottom,
      var(--color-gray-800),
      transparent,
      transparent
    );
    background: linear-gradient(
      to bottom,
      var(--color-gray-800),
      transparent,
      transparent
    );
  }
</style>
