@import url(./reset.css);

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --primary-color: sienna;
  --primary-color-700: chocolate;
  --secondary-color: #0369a1;
  --column-gap: 2rem;
  --border-column-color: #ccc;
  --dot-top: 0.8rem;
}

/* Helpers */
.color-primary {
  color: var(--primary-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-md {
  border-radius: 0.375rem;
}

.contents {
  display: contents;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.break-page {
  display: none;
}

.break-all {
  word-break: break-all;
}

.justify-between {
  justify-content: space-between;
}

.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-8 {
  margin-bottom: 2rem;
}
/* End Helpers */

.resume__print-tag {
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  display: block;
  margin: 0 auto 0.8rem;
}

.resume-wrapper {
  color: #222;
  padding: 1.5rem 0 0 0;
  background-color: transparent;
}

.section-title {
  color: var(--primary-color);
  padding-bottom: 6px;
  margin-bottom: 14px;
}

.contanct-item-title {
  color: var(--primary-color);
}

.resume-page {
  padding: 2.5rem 1.5rem;
  background-color: white;
  margin: 0 auto;
  max-width: 1160px;
}

.resume-header__left {
  flex: auto;
}

.resume-content {
  display: flex;
  gap: var(--column-gap);
}

.resume-content__left {
  flex: 2 0 0;
  padding-right: 1.5rem;
  border-right: 1px solid var(--border-column-color);
}

.resume-content__right {
  flex: 5 0 0;
}

.resume-name {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.resume-title {
  font-size: 1.24rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}

/* Component Template  */
.component-template {
  margin-bottom: 2.4rem;
}

.component-template__title {
  margin-bottom: 0.9rem;
  text-transform: uppercase;
  color: var(--primary-color);
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #eee;
}

.avatar {
  width: min(80%, 180px);
  margin: 0 auto 2rem;
}

.avatar--right {
  display: none;
}

/* Techstack */
.techstack-component--right,
.other-tools-component--right,
.skills-component-right {
  display: none;
}

.techstack {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  row-gap: 0.8rem;
}

.techstack--no-exp {
  row-gap: 0.2rem;
}

.techstack-level {
  margin: 0.2rem 0;
}

/* Technology */
.technology__title {
  font-size: 0.9rem;
  font-weight: 450;
  color: #222;
}

.technology__experience {
  font-size: 0.7rem;
  font-weight: 500;
  color: #6b7280;
}

/* Tool-level */
.tool-level__dot {
  margin-right: 0.25rem;
}

/* Tags */
.tag-list__tag {
  font-size: 0.8rem;
  padding: 0.08rem 0.5rem;
  color: var(--secondary-color);
  background-color: #e2e8f0;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

/* Courses */
.courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.course {
  display: grid;
  font-weight: 450;
}

.course__name {
  font-size: 0.9rem;
  color: #222;
}

.course__date,
.course__site {
  font-size: 0.75rem;
  color: #6b7280;
}

/* Language */

.language {
  font-weight: 450;
  margin-bottom: 1rem;
}

.language__name {
  font-size: 0.9rem;
  color: #222;
}

.language__level {
  font-size: 0.75rem;
  color: #6b7280;
}

/* Education */
.education {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  font-weight: 450;
}

.education__title {
  font-weight: 450;
  color: #222;
}

.education__date,
.education__place,
.education__icon {
  font-size: 0.8rem;
  color: #666;
}

/* Personal Data */
.personal-data-container {
  display: grid;
  gap: 0.7rem;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
}

.personal-data {
  font-size: 0.85rem;
  gap: 0.3rem 1rem;
  display: contents;
}

.personal-data__content {
  font-weight: 500;
  color: #666;
  word-break: break-all;
}

.personal-data--a {
  margin-bottom: 0.3rem;
}

.personal-data--b {
  margin-bottom: 1.5rem;
}

/* Profile */
.profile {
  font-weight: 450;
  padding-left: 1rem;
  list-style: none;
  padding: 0;
}

/* Experience  */
.experience__item {
  margin-bottom: 2.6rem;
  font-weight: 450;
  font-size: 0.9rem;
  position: relative;
}

.experience__item::before {
  content: '';
  border-top: 1px solid var(--border-column-color);
  display: block;
  position: absolute;
  width: calc(var(--column-gap) - 0.8rem);
  left: calc(var(--column-gap) * -1);
  top: var(--dot-top);
}

.experience__item::after {
  content: '';
  display: block;
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 1000%;
  background-color: var(--border-column-color);
  left: calc(var(--column-gap) * -1);
  top: var(--dot-top);
  transform: translate(-50%, -50%);
}

.experience__position {
  font-size: 1.3rem;
  line-height: 1.5rem;
  object-fit: scale-down;
  color: var(--secondary-color);
}

.experience__company-name {
  font-size: 1rem;
  line-height: 1.8rem;
}

.experience__company-note {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.experience__company-logo {
  width: 8rem;
  height: 3rem;
  object-fit: scale-down;
}

.experience__location {
  line-height: 1rem;
}

.experience__location > svg {
  font-size: 0.75rem;
}

.experience__time {
  color: #6b7280;
}

.experience__time > span:first-of-type {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

ul.experience__job-intro,
.experience__project-responsibilities {
  padding-left: 1rem;
  margin-bottom: 1rem;
  list-style-type: disc;
}

.experience__header ~ h3 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.experience__project-header {
  color: #222;
}

.experience__project {
  margin-bottom: 1.5rem;
}

.experience__project-name {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.experience__project-techstack {
  padding-bottom: 0.25rem;
  font-size: 0.78rem;
  font-style: oblique;
  color: var(--secondary-color);
  text-align: right;
}

.more-info {
  font-size: 0.75rem;
  color: #6b7280;
  display: none;
}

.language-button {
  cursor: pointer;
  padding: 0.1rem 0.4rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.1rem;
  margin-right: 0.5rem;
  background: transparent;
  font-size: 0.75rem;
  color: var(--primary-color);
}

.language-button--active {
  background-color: var(--primary-color);
  color: white;
}

.hobbies {
  font-size: 0.9rem;
}

@media only screen and (max-width: 767px) {
  .techstack-component--left,
  .other-tools-component--left,
  .skills-component--left {
    display: none;
  }

  .techstack-component--right,
  .other-tools-component--right,
  .skills-component--right {
    display: block;
  }

  .avatar--left {
    display: none;
  }

  .avatar--right {
    display: block;
  }

  .resume-content {
    flex-flow: column;
  }

  .resume-content__left {
    order: 1;
    padding-right: unset;
    border: none;
  }

  .resume-content__right {
    order: 0;
  }

  .courses {
    gap: 0.8rem;
  }

  .course {
    padding: 0.6rem;
  }
}

@media only screen and (min-width: 640px) {
}

@media only screen and (min-width: 768px) {
  .resume-wrapper {
    background-color: #e2e8f0;
    padding: 1.5rem;
  }

  .md-no-underline .component-template__title {
    border-bottom: unset;
    padding-bottom: unset;
  }
}

@media only screen and (min-width: 1024px), print {
}

@media only screen and (min-width: 1280px) {
}

@media only screen and (min-width: 1536px) {
}

@page {
  margin: 0;
}

@media print {
  .profile {
    font-size: 0.9rem;
  }

  .personal-data-container {
    gap: 0.6rem;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }

  .experience__item {
    font-size: 0.84rem;
  }

  .resume__print-tag {
    display: none;
  }

  .resume-page {
    padding-top: 1rem;
  }

  .break-page {
    display: block;
    padding-bottom: 1rem;
  }

  .techstack {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .techstack--no-print-exp {
    row-gap: 0.3rem;
  }

  .tag-list__tag {
    padding: 0.08rem 0.4rem;
    background-color: unset;
    border: 1px solid #e2e8f0;
    border-radius: 0.3rem;
  }

  .no-show-print {
    display: none;
  }

  .more-info {
    display: block;
  }
}
